:root {
  /* Colores */
  --primary-color: #ffbf03;
  --secondary-color: #ff8d11;
  --black-color: hsl(225, 15%, 6%);
  --reflection-color: hsla(48, 30%, 95%, 0.3);
  --body-color: #ffffff;
  --text-color: #161616;
  --gray-light: #e9e9e9;
  --border-image: #c0c0c0;

  /* Gradientes */
  --gradient-color: linear-gradient(
    90deg,
    hsl(48, 100%, 50%) 0%,
    hsl(28, 100%, 54%, 100%)
  );

  /* Tamaños */
  --card-height: 300px;
  --card-width: 200px;
  --logo-height: 100px;
  --logo-width: 100px;

  /* Tipografía */
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;

  /* Sombras */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

/* Breakpoints en SASS */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;