* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background: var(--gradient-color);
  cursor: url("../../img/4.png"), auto;
}

section {
  width: 100%;
}
.section-container {
  max-width: 1200px;
  margin: 0 auto; /* Centra horizontalmente */
  padding: 1rem 1rem; /* Espacio interno */
}
