h1 {
  padding: 20px;
  font-size: 2rem;
  font-family: var(--heading-font);
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
}

h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
