@use "../abstracts/variables" as *;

.hero {
  margin: 0 auto;
  max-width: $breakpoint-xl;
  text-align: center;
  padding: 1rem 1rem;
  background-color: var(--gray-light);

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .text-container {
    display: inline-block;
  }

  h3 {
    /* Efecto de "maquinita de escribir" (typing) */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    animation: typing 3s 2.5s steps(22),
      cursor 4s step-end infinite alternate;
    margin-bottom: 1rem;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
}